<p id="notice"><%= notice %></p>

<h1>Link Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @link_categories.each do |link_category| %>
      <tr>
        <td><%= link_category.name %></td>
        <td><%= link_to 'Show', link_category %></td>
        <td><%= link_to 'Edit', edit_link_category_path(link_category) %></td>
        <td><%= link_to 'Destroy', link_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link Category', new_link_category_path %>
